.App {
  text-align: center;
  height: 100%;
  min-height: 600px;
  margin: 0; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.home-page{
  text-align: center;
}
.mycard{
height: 50vh;
border: solid 0.5px  rgb(75, 148, 100);
margin: -12px;
font-size: 12px;
}
.mycard:hover {
  margin-top: -30px;
  font-size: 16px;
  background-color: rgb(148, 209, 219);
}
.imgDay{
  height: 20vh;
  margin-left: -37px;
}
.btnAdd{
  color: aliceblue;
}

.cardWeather{
  padding: 10px;
  margin-top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 14vh;
  font-size: 14px;
  border: solid 1px rgb(87, 102, 143);
}
.cardWeather:hover {
  font-size: larger;
  background-color: rgb(148, 209, 219);
}

.textInfo{
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

}

#like{
  color: red;
  
}

